<% layout("./layouts/boilerplate.ejs") %>

<body>
 
     <div class="row">
        <div class="col-8 offset-2">
            <br>
            <h3>Create a new Listing</h3>
            <form action="/listings" method="Post" class="needs-validation" novalidate enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="listing[title]" placeholder="write a catchy title" class="form-control" required />
                    <div class="valid-feedback">good</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" placeholder="..." class="form-control" required></textarea>
                    <div class="invalid-feedback">Description should be valid</div>
                </div>
               <!-- <div class="mb-3">
                  <label for="image" class="form-label">Image url</label>
                  <input name="listing[image]" placeholder="write your image url/link" type="text" class="form-control"/>
               </div> -->
               <div class="mb-3">
                <label for="image" class="form-label">Upload image file</label>
                <input name="listing[image]"  type="file" class="form-control" required/>
             </div>
               <div class="row">
                 <div class="mb-3 col-md-4">
                     <label for="price" class="form-label">Price</label>
                     <input name="listing[price]" placeholder="5000" type="number" class="form-control" required/>
                     <div class="invalid-feedback">Price should be valid</div>
                 </div>
                 <div class="mb-3 col-md-8">
                     <label for="location" class="form-label">Location</label>
                     <input name="listing[location]" placeholder=" udaipur, rajasthan " type="text" class="form-control" required />
                     <div class="invalid-feedback">Location should be valid</div>
                 </div>
               </div>
                <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input name="listing[country]" placeholder="India" type="text" class="form-control" required />
                    <div class="invalid-feedback">Country name should be valid</div>
                </div>
                <button class="btn btn-dark add-btn">Add</button>
                <br><br>
            </form>
        </div>
     </div>  

</body>